@media screen  and (max-width:600px) {
    .popular-container{
        position: absolute;
        flex-direction: column;
        padding: 10px;
    }
    .item-container{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .nav-section{
        flex-direction: column;
    }
    .popular-img{
        width: inherit;
    }
    
}