
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@700&family=Mulish:wght@400;800&family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}


.nav-section{
    max-width: 1250px;
    margin: 0 auto;
    
    margin: o auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.nav-container{
   
    min-height: 25px;
    display: flex;
    width: 50%;

}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.item-container > a {
    text-decoration:none ;
    color: var(--Dark-02, #424247);

font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.home{
color: #FF5400;
font-family: Mulish;
font-size: 18px;
font-weight: 700;

}
.nav-title{
    color: #131318;
font-family: Mulish;
font-size: 2.1rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.nav-title-2{
    color: #FF5400;
font-family: Mulish;
font-size: 2.1rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.popular-container{
    display: flex;
    gap: 3.3rem;
    max-width: 1250px;
    margin: 100px auto;
  
 

}

.popular-text-section li{
    margin-bottom: 25px

}  
.popular-title{
    color: #131318;

font-family: Mulish;
font-size: 2.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-description{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 14px 35px;
}
.popular-img{
    width: 100%;
}
footer{ 
    max-width: 1250px;
    margin:110px auto;
    align-items: center !important;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-description{
     text-align: center;
}
.foot-title{
    color: #131318;
    font-family: Mulish;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.foot-title-2{
    color: #FF5400;
    font-family: Mulish;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner{
    background-image:url('./Images/banner.png');
    margin: 0 auto;
    min-height:500px;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    background-position-x: center;
    background-blend-mode: darken;
}
.banner-form{

    
    align-items: center;
    height: 100px;
    display: inline-flex;

}
.banner-heading{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 100px;
}
.text-banner{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding: 24px 500px;
}
.card-container img{
    max-width: 50px;
    max-height: 50px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
    
}
.choose{
    margin: 100px auto;
    
    max-width: 1250px;
    margin:110px auto;
}
.card-3{
    width: 540px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 32px;
margin-left: 50%;

}
.card-1{
    width: 540px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 32px;
}
.card-2{
    width: 540px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 32px;

}
.video-container{
    display: flex;
    max-width: 1250px;
    margin:110px auto;
    align-items: center;
    border: 3px solid red;
}
.video-text{
    padding: 20px;
}
.video-text li {
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.video-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 150% */
}
.video-description{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.video{
    border-radius: 1rem;
    position: relative;
   

}
.mountain{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 150% */
top: 230px;
position: relative;
}
.input{
    border: 3px solid black;
    display: flex;
    max-width: 1250px;
    min-height: 440px;
    margin:110px auto;
    justify-content:space-around ;
    align-items: center;
    gap: 40px;
}
.input-data{
    border: #5A5A5D solid 2px;
    margin:0px auto;
    padding: 10px;
    min-height: 422px;
    
}
.input-head{
    color: #131318;

    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.input-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.input-style{
    border-radius: 8px;
     background: #bbb0b0;
     height: 35px;
     width: 250px;
     color: rgba(19, 19, 24, 0.50);
     font-family: Mulish;
     padding-bottom: 10px;
     margin-bottom: 10px;
}





















